server:
  port: ${PORT:8080}
spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/next_tech_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: next.tech.technologyltd@gmail.com
    password: dtkw ojjc yiat pfxy
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
    connect-timeout: 5000
    read-timeout: 5000
    write-timeout: 5000